ul.ttt-board {
    width: 240px;
    list-style: none;
    padding-left: 0;
}
ul.ttt-board > li {
    width: 80px;
    height: 80px;
    float: left;
    cursor: pointer;
    transition: border-width 200ms ease 0s;
    border-width: 40px;
    border-style: solid;
}
@media (min-width: 460px) {
    ul.ttt-board {
        width: 420px;
    }
    ul.ttt-board > li {
        width: 140px;
        height: 140px;
        border-width: 70px;
    }
}
ul.ttt-board.ttt-finished > li {
    cursor: initial;
}
ul.ttt-board > li:nth-child(odd) {
    background-color: #f8f8f8;
    border-color: #f8f8f8;
}
ul.ttt-board > li:nth-child(even) {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}
ul.ttt-board > li.ttt-x,
ul.ttt-board > li.ttt-o {
    cursor: initial;
    border-width: 0;
}
ul.ttt-board > li.ttt-x:nth-child(odd) {
    background-color: lightCoral;
}
ul.ttt-board > li.ttt-o:nth-child(odd) {
    background-color: lightBlue;
}
ul.ttt-board > li.ttt-x:nth-child(even) {
    background-color: #F78787;
}
ul.ttt-board > li.ttt-o:nth-child(even) {
    background-color: #B5E0EE;
}
