<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <ul class="players">
                <li ng-repeat="slot in party.slots">
                    <p ng-if="null !== slot.player">{{ slot.player.username }}</p>
                    <p ng-if="null === slot.player">{{ 'waiting.for.join'|translate }}</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-8">
            <ul class="ttt-board">
                <li
                    ng-repeat="symbol in tictactoe.grid.split('') track by $index"
                    ng-class="['ttt-x', 'ttt-o']['XO'.indexOf(symbol)]"
                    ng-click="('-' === symbol) && play($index % 3, Math.floor($index / 3))"
                ></li>
            </ul>
        </div>
    </div>
</div>
