<li class="dropdown">
    <a href="" ng-init="playerMenuCollapsed = true" ng-click="playerMenuCollapsed = !playerMenuCollapsed" role="button" aria-expanded="false">{{ $root.eoleSession.player.username }} <span class="caret"></span></a>
    <ul class="dropdown-menu" uib-collapse="playerMenuCollapsed" role="menu">
        <li><a href="" ng-href="#!/player/profile">{{ 'my.page'|translate }}</a></li>

        <li class="divider"></li>

        <li ng-show="$root.eoleSession.player.guest"><a href="" ng-href="#!/player/login">{{ 'login'|translate }}</a></li>
        <li ng-show="$root.eoleSession.player.guest"><a href="" ng-href="#!/player/register">{{ 'register'|translate }}</a></li>

        <li ng-hide="$root.eoleSession.player.guest" ng-click="$root.eoleSession.logout()"><a href="">{{ 'logout'|translate }}</a></li>
    </ul>
</li>
