<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>Eole is a board game website. You can play in real-time with whoever you want.</p>
        <p>It's free and <a href="https://github.com/eole-io" target="_blank">free software</a>.</p>
        <p><a href="" ng-href="#!/games" class="btn btn-primary btn-lg" role="button">{{ 'home.play'|translate }}</a></p>
    </div>
</div>

<div class="container home-text">
    <h2>
        <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
        I want to play
    </h2>

    <p>
        You can navigate <a href="" ng-href="#!/games">games</a>
        and create a party or join a party someone has created.
    </p>

    <h2>
        <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
        I want to develop a game
    </h2>

    <p>
        You have to develop a PHP Api, and maybe a websocket topic for real-time.
        <br />
        You also have to develop, for the web interface, an AngularJs module to plug your game to Eole.
    </p>

    <h2>
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        License
    </h2>

    <p>
        <a target="_blank" href="https://github.com/eole-io/eole-api">Eole Api</a>
        and
        <a target="_blank" href="https://github.com/eole-io/eole-angular">web application</a>
        are released under the
        <a target="_blank" href="https://github.com/eole-io/eole-angular/blob/dev/LICENSE">Affero GPL-v3 license</a>.
    </p>
</div>
