<div class="container-fluid">
    <div class="awale-board row">
        <!-- Left attic -->
        <div class="col-xs-2 col col-p0">
            <button type="button" class="btn btn-default box attic p0 attic-p0" disabled="disabled">
                <div class="seeds"></div>
                <p class="value">{{ grid[0].attic }}</p>
            </button>
        </div>
        <!-- Containers -->
        <div class="col-xs-8 boxes">
            <!-- Top containers -->
            <div class="row row-p0 row-top">
                <div class="col-xs-2" ng-repeat="seeds in grid[0].seeds track by $index">
                    <button type="button" class="btn btn-default box p0 box-{{ $index }}" disabled="disabled" data-coords="0:{{ $index }}">
                        <div class="seeds"></div>
                        <p class="value">{{ seeds }}</p>
                    </button>
                </div>
            </div>
            <!-- Bottom containers -->
            <div class="row row-p1 row-bottom">
                <div class="col-xs-2" ng-repeat="seeds in grid[1].seeds track by $index">
                    <button type="button" ng-click="move($index)" class="btn btn-default box p1 box-{{ $index }}" data-coords="0:{{ $index }}">
                        <div class="seeds"></div>
                        <p class="value">{{ seeds }}</p>
                    </button>
                </div>
            </div>
        </div>
        <!-- Right attic -->
        <div class="col-xs-2 col col-p1">
            <button type="button" class="btn btn-default box attic p1 attic-p1" disabled="disabled">
                <div class="seeds"></div>
                <p class="value">{{ grid[1].attic }}</p>
            </button>
        </div>
    </div>
    <div class="awale-players">
        <!-- Players and scores -->
        <div class="row">
            <div class="p0 col-xs-6">
                <p>
                    <span class="pseudo">{{ party.slots[0].player.username || '---' }}</span>
                    <span class="score">{{ grid[0].attic }}</span>
                </p>
            </div>
            <div class="p1 col-xs-6">
                <p>
                    <span class="score">{{ grid[1].attic }}</span>
                    <span class="pseudo">{{ party.slots[1].player.username || '---' }}</span>
                </p>
            </div>
        </div>
    </div>
    <p class="text-center">Victory conditions</p>
</div>
