<div class="container-fluid">
    <div class="awale-board row">
        <!-- Left attic -->
        <div class="col-xs-2 col col-p{{ screenPlayer0 }}">
            <button
                type="button"
                class="btn btn-default box attic p{{ screenPlayer0 }}"
                ng-class="{flash: flashed[screenPlayer0]['attic']}"
                disabled="disabled"
            >
                <div class="seeds">
                    <div
                        ng-repeat="coord in seedsCoords[screenPlayer0].attic"
                        class="seed"
                        ng-style="coord"
                    ></div>
                </div>
                <p class="value">{{ grid[screenPlayer0].attic }}</p>
            </button>
        </div>
        <!-- Containers -->
        <div class="col-xs-8 boxes">
            <!-- Top containers -->
            <div class="row row-p{{ screenPlayer0 }} row-top">
                <div
                    ng-repeat="seeds in (reverseBoard ? grid[screenPlayer0].seeds.slice().reverse() : grid[screenPlayer0].seeds) track by $index"
                    class="col-xs-2"
                >
                    <button
                        type="button"
                        class="btn btn-default box p{{ screenPlayer0 }}"
                        ng-class="{
                            flash: flashed[screenPlayer0]['seeds'][reverseBoard ? (5 - $index) : $index],
                            'move-start': -1 !== lastMove[screenPlayer0][reverseBoard ? (5 - $index) : $index].indexOf('start'),
                            'move-feed':  -1 !== lastMove[screenPlayer0][reverseBoard ? (5 - $index) : $index].indexOf('feed'),
                            'move-eat':   -1 !== lastMove[screenPlayer0][reverseBoard ? (5 - $index) : $index].indexOf('eat')
                        }"
                        disabled="disabled"
                    >
                        <div class="seeds">
                            <div
                                ng-repeat="coord in seedsCoords[screenPlayer0].seeds[reverseBoard ? (5 - $index) : $index]"
                                class="seed"
                                ng-style="coord"
                            ></div>
                        </div>
                        <p class="value">{{ seeds }}</p>
                    </button>
                </div>
            </div>
            <!-- Bottom containers -->
            <div class="row row-p{{ screenPlayer1 }} row-bottom">
                <div
                    ng-repeat="seeds in (reverseBoard ? grid[screenPlayer1].seeds.slice().reverse() : grid[screenPlayer1].seeds) track by $index"
                    class="col-xs-2"
                >
                    <button
                        type="button"
                        class="btn btn-default box p{{ screenPlayer1 }}"
                        ng-class="{
                            highlight: canMoveContainer(seeds),
                            flash: flashed[screenPlayer1]['seeds'][reverseBoard ? (5 - $index) : $index],
                            'move-start': -1 !== lastMove[screenPlayer1][reverseBoard ? (5 - $index) : $index].indexOf('start'),
                            'move-feed':  -1 !== lastMove[screenPlayer1][reverseBoard ? (5 - $index) : $index].indexOf('feed'),
                            'move-eat':   -1 !== lastMove[screenPlayer1][reverseBoard ? (5 - $index) : $index].indexOf('eat')
                        }"
                        ng-click="move(reverseBoard ? (5 - $index) : $index)"
                        ng-disabled="!canMoveContainer(seeds)"
                    >
                        <div class="seeds">
                            <div
                                ng-repeat="coord in seedsCoords[screenPlayer1].seeds[reverseBoard ? (5 - $index) : $index]"
                                class="seed"
                                ng-style="coord"
                            ></div>
                        </div>
                        <p class="value">{{ seeds }}</p>
                    </button>
                </div>
            </div>
        </div>
        <!-- Right attic -->
        <div class="col-xs-2 col col-p{{ screenPlayer1 }}">
            <button
                type="button"
                class="btn btn-default box attic p{{ screenPlayer1 }}"
                ng-class="{flash: flashed[screenPlayer1]['attic']}"
                disabled="disabled"
            >
                <div class="seeds">
                    <div
                        ng-repeat="coord in seedsCoords[screenPlayer1].attic"
                        class="seed"
                        ng-style="coord"
                    ></div>
                </div>
                <p class="value">{{ grid[screenPlayer1].attic }}</p>
            </button>
        </div>
    </div>
    <div class="awale-players">
        <!-- Players and scores -->
        <div class="row">
            <div class="p0 col-xs-6">
                <p ng-class="{lead: (0 === winner) || (-1 === winner), small: 1 === winner}">
                    <span class="pseudo">
                        {{ party.slots[0].player.username || 'waiting.for.join'|translate }}
                    </span>
                    <span class="score">{{ grid[0].attic }}</span>
                </p>
            </div>
            <div class="p1 col-xs-6">
                <p ng-class="{lead: (1 === winner) || (-1 === winner), small: 0 === winner}">
                    <span class="score">{{ grid[1].attic }}</span>
                    <span class="pseudo" ng-if="!displayJoinButton">
                        {{ party.slots[1].player.username || 'waiting.for.join'|translate }}
                    </span>
                    <button ng-if="displayJoinButton && !party.slots[1].player" class="btn btn-primary" ng-click="join()">
                        {{ 'join'|translate }}
                    </button>
                </p>
            </div>
        </div>
    </div>
    <p class="text-center lead">{{ bottomText }}</p>
</div>
