/**
 * from http://bootsnipp.com/snippets/eN56B
 */
.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 4px 0 0 0;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}
