<div class="container">
    <h1>{{ 'chat'|translate }}</h1>
    <div class="panel-body">
        <ul class="chat list-unstyled">
            <li class="left clearfix" ng-repeat="message in messages">
                <span class="chat-img pull-left">
                    <img ng-src="{{ avatarUrl(message.player) }}" alt="{{ playerInitials(message.player) }}" class="img-circle" />
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">{{ message.meta ? message.content : message.player.username }}</strong>
                        <small class="pull-right text-muted">
                            <span class="glyphicon glyphicon-time"></span> {{ message.date|date:'HH:mm' }}
                        </small>
                    </div>
                    <p ng-if="!message.meta">
                        {{ message.content }}
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <form ng-submit="sendMessage()" class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">&gt;</div>
                <input type="text" ng-model="message" class="form-control" placeholder="{{ 'message'|translate }}">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">{{ 'send'|translate }}</button>
                </span>
            </div>
        </div>
    </form>
</div>
